.post-blurb {
    display: block ;
    color: black;
    text-align: center ;
    padding: 20px 30px;
    text-decoration: none ;
}

.post-blurb2 {
    display: block ;
    color: black;
    padding: 20px 30px;
    text-decoration: none ;
}